<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Sidebar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs
    /font-awesome/6.5.2/css/all.min.css">
    <!---Sidebar CSS-->
    <link rel="stylesheet" href="sidebar.css">
</head>
<body>
    



<aside class="sidebar">
    <!-- logo-->
     <div class="sidebar-logo">
        <img src="../../assets/images/gym-logo.png.png" alt="gym-logo">
        <h2> GYM<span>PRO</span></h2>
     </div>
     <!-- Admin Profile -->
      <div class="admin-profile">
        <div class="profile-icon">
            <img src="../../assets/images/admin-avatar.png.png" alt="Admin-profile">
        </div>
        <div class="Profile-info">
            <h3> Admin</h3>
            <p> Administration</p>
        </div>
      </div>
      <!--Navigation-->
      <nav class="sidebar-menu">
        <a href="#" class="menu-item-active">
            <i class="fa-solid fa-chart-line"></i>
            <samp>Dashboard</samp>
        </a>
        <p class="menu-item">MANAGEMENT</p>
        <a href="../../admin-dashboard/pages/trainers/trainer.html" class="menu-item">
            <i class="fa-solid fa-user-tie"></i>
            <samp>Trainer</samp>
        </a>
        <a href="#" class="menu-item">
            <i class="fa-solid fa-users"></i>
            <span>Members</span>
        </a>
         <a href="#" class="menu-item">
            <i class="fa-solid fa-id-card"></i>
            <span>Memberships</span>
        </a>
         <a href="#" class="menu-item">
            <i class="fa-solid fa-credit-card"></i>
            <span>payment</span>
        </a>
         <a href="#" class="menu-item">
            <i class="fa-solid fa-calender-check"></i>
            <span>Attendance</span>
        </a>
        <p class="menu-title">REPORTS</p>
         <a href="#" class="menu-item">
            <i class="fa-solid fa-chart-pie"></i>
            <span>Statistics</span>
        </a>
         <a href="#" class="menu-item">
            <i class="fa-solid fa-file-line"></i>
            <span>Reports</span>
        </a>
         <a href="#" class="menu-item">
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </a>

      </nav>
      <!--LOgout-->
      <div class="sidebar-bottom">
         <a href="#" class="menu-item logout">
            <i class="fa-solid fa-rigth-from-bracket"></i>
            <span>Logout</span>
        </a>
      </div>
</aside>
<!---Sidebar JavaScript-->
<script src="sidebar.js"></script>
</body>
</html>